body {
  background-color: black;
  color: white;
}
.erreurs {
  color: red;
}
.listeUsagers p {
  margin-left: 2em;
}
.avatar {
  width: 50px;
  height: 50px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-group {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
::placeholder {
  text-align: center;
}
.form-group input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0 10px 0;
  border-radius: 15px;
  border: none;
  text-align: center;
}
.form-group input:focus {
  outline: none;
}
.login-button {
  background-color: #0d6efd;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
}
.login-button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #0b5ed7;
}
.btn {
  margin: 10px 0 10px 0;
}
.menu-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-wrapper {
  margin: 10px 0 10px 0;
}
.form-wrapper {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.checkbox-wrapper {
  text-align: start;
}
.table {
  color: white;
}

/* CHATBOT CSS **/

.floating-chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chatbot-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.chatbot-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-message-sent {
  color: white;
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 8px;
  align-self: flex-end;
}

.chatbot-message-received {
  color: black;
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 8px;
  align-self: flex-start;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
  align-items: stretch; 
}

.chatbot-input-container input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.chatbot-input-container button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  align-self: stretch; 
  display: flex; 
  align-items: center; 
}
