body {
  background-color: black;
  color: white;
  max-width: 100%;
}
.erreurs {
  color: red;
}
.listeUsagers p {
  margin-left: 2em;
}
.avatar {
  width: 50px;
  height: 50px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-group {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
::placeholder {
  text-align: center;
}
.form-group input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0 10px 0;
  border-radius: 15px;
  border: none;
  text-align: center;
}
.form-group input:focus {
  outline: none;
}
.login-button {
  background-color: #0d6efd;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
}
.login-button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #0b5ed7;
}
.btn {
  margin: 10px 0 10px 0;
}
.menu-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-wrapper {
  margin: 10px 0 10px 0;
}
.form-wrapper {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.checkbox-wrapper {
  text-align: start;
}
.table {
  color: white;
}

/* CHATBOT CSS **/

.floating-chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  color: 76b900;
}

.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #76b900;
  border-radius: 10px 10px 0 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chatbot-header {
  background-color: #76b900;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chatbot-message-container {
  width: 100%;
  display: flex;
  margin-top: 8px;
}

.chatbot-message-sent {
  color: white;
  background-color: #76b900;
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 8px;
  align-self: flex-end;
}

.chatbot-message-received {
  color: black;
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 8px;
  align-self: flex-start;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
}

.chatbot-input-container input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.chatbot-send-button {
  display: flex;
  align-items: center;
  height: 100%;
}

.chatbot-input-container button {
  margin-left: 10px;
  background-color: #76b900;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.chatbot-close-icon {
  cursor: pointer;
  font-size: 18px;
}
/* end of CHATBOT CSS **/

.userAccountIcon {
  width: 0px;
  height: 0px;
  color: white;
}
.container-fluid {
  width: 75%;
}
.btn-icon {
  border: none;
}
.accueil-main {
  background: #000 center/cover url("../images/Boutique_3060.png") no-repeat;
  height: 100%;
}
.boutique-main {
  background: #000 center/cover url("../images/Boutique_3060.png") no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin: 0 100px 0 100px;
}

/* Nav **/

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
} */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle {
  background: transparent;
  border: none;
}
.dropdown-menu {
  background-color: #000000;
  border: 1px solid #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-menu a:hover {
  background-color: #76b900;
}

.dropdown-menu a {
  color: #ffffff;
}
.navbar-brand {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar-brand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #76b900;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-brand::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 0;
  left: 50%;
  margin-left: -3px; /* Half of the width */
  background-color: #76b900;
  border-radius: 50%;
  visibility: hidden;
}

.navbar-brand.active::after {
  visibility: visible;
}

.active {
  color: #76b900 !important;
}
.full-height {
  height: 100vh;
}
.compte_container,
.articles_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Align container to center of page, takes 100% space, divide element by space evenly between each other (in top of each other) */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0 50px 0 50px;
}

/* Card media query when smaller then 768px, width of card is 50% width */

@media screen and (max-width: 768px) {
  .card {
    max-width: none !important;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 30%;
  }
}
