<main class="accueil-main">
  <div class="text-container">
    <h1>Magasin de Cartes graphiques</h1>
    <p>
      Magasinez avec nous pour les meilleur prix, les meilleures connaissances,
      et les plus beaux
    </p>
    <!-- Bootstrap button -->
    <button action="/boutique">Visitez notre boutique</button>
  </div>
</main>
