<main class="accueil-main">
  <div class="accueil-text-container">
    <h1>Magasin de Cartes graphiques</h1>
    <p class="accueil-paragraph">
      Magasinez avec nous pour les meilleur prix, les meilleures connaissances,
      et les plus beaux spéciaux sur le marché.
    </p>
    <div class="button" id="button">
      <div id="slide"></div>
      <a href="/boutique">Boutique</a>
    </div>
  </div>
</main>
