<div class="ajouter-article-wrapper">
  <%- include ('./partiels/erreurs_msg') %>

        <h4 class="text-center">Ajouter un produit</h4>
        <form
          action="/articles/ajouter"
          method="POST"
          enctype="multipart/form-data"
        >
        <div class="form-wrapper article-ajouter-form-wrapper">
          <div >
            <div class="form-group">
              <input
              class="form-control article-ajouter-form-input"
                type="text"
                name="nom"
                id="nom"
                placeholder="Nom"
                required
                class="article-ajouter-input"
              />
            </div>

            <div class="form-group">
              <input
              class="form-control article-ajouter-form-input"
                type="file"
                name="imageFond"
                id="imageFond"
                accept="image/png, image/jpg, image/jpeg, image/gif, image/webp"
                placeholder="Image de fond"
                required
                class="article-ajouter-input"
              />
            </div>

            <div class="form-group">
              <select class="article-ajouter-input" name="marque" id="marque" required  class="form-control article-ajouter-form-input">
                <option value="">Marque</option>
                <option value="ASUS">ASUS</option>
                <option value="NVIDIA">NVIDIA</option>
                <option value="PowerColor (Tul)">PowerColor (Tul)</option>
                <option value="Sapphire">Sapphire</option>
                <option value="Leadtek">Leadtek</option>
                <option value="HIS">HIS</option>
                <option value="AMD">AMD</option>
                <option value="GIGABYTE">GIGABYTE</option>
                
              </select>
            </div>

            <div class="form-group">
              <input
              class="form-control article-ajouter-form-input"
                type="number" step="any"
                name="prix"
                id="prix"
                placeholder="Prix..."
                required
                class="article-ajouter-input"
              />
            </div>

            <div class="form-group">
              <textarea
              class="form-control article-ajouter-form-input"
                name="details"
                id="details"
                placeholder="Listez les détails"
                required
                class="article-ajouter-input"
              ></textarea>
            </div>

            <div class="button article-ajouter-button" id="button">
              <div id="slide"></div>
              <button type="submit"> Ajouter le produit</button>
            </div>
          </div>
        </div>
        </form>
      </div>
   

  <a href="/menu" class="btn btn-secondary col-2">Retour au menu</a>
</div>
