<main class="boutique-main">
  <div class="product-wrapper">
    <h1>GeForce RTX 3080 TI</h1>
    <ul>
      <li>11GB 352-Bit GDDR6</li>
      <li>1 x HDMI 2.0b 3x DisplayPort 1.4</li>
      <li>Boost Clock 1635 MHz</li>
      <li>4352 CUDA cores</li>
      <li>450$</li>
    </ul>
    <button type="button" class="btn btn-primary">Ajouter au panier</button>
  </div>
</main>
