<!-- <script>
  const urlParams = new URLSearchParams(window.location.search);
  const panier = JSON.parse(urlParams.get("panier"));
  console.log("panier");
  panier.forEach(function (item) {
    console.log(item);
  });
</script> -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const panier = JSON.parse(urlParams.get("panier"));
    panier.forEach(function (item) {
      const Taxes = Number(item.prix) * 0.15;
      const total = Number(item.prix) + Taxes;
      console.log("item:", item);
      console.log("item:", item.imageFond);
      // Create a new element for each item in the panier
      let newElement = document.createElement("div");
      newElement.className = "card checkout-card-product-single";
      newElement.style.borderRadius = "25px";
      newElement.style.background = "grey";
      // Populate the new element with the relevant information
      newElement.innerHTML = `
        <div style="display: flex">
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 15px;
            "
          >
            <img
              class="checkout-product-image"
              src="${item.imageFond}"
              alt="image produit"
            />
          </div>
          <div style="padding-left: 40px">
            <h4>${item.nom}</h4>
            <div class="checkout-card-price-container">
              <p class="checkout-discounted-price" style="margin: 10px 0">
                
              </p>
            </div>
          </div>
        </div>
        <div class="checkout-price-breakdown-wrapper">
        <div class="checkout-price-wrapper">
          <p>Subtotal :</p>
          <p class="checkout-discounted-price">${item.prix}</p>
        </div>
        <hr />
        <div class="checkout-price-wrapper">
          <p>Taxes :</p>
          <p class="checkout-discounted-price">${Taxes.toFixed(2)}</p>
        </div>
        <hr />
        <div class="checkout-price-wrapper">
          <p>Total:</p>
          <p class="checkout-discounted-price">${total.toFixed(2)}</p>
        </div>
      </div>
      `;
      // Append the new element to the checkout-card-product div
      document.querySelector(".checkout-card-product").appendChild(newElement);
      console.log(newElement);
    });
  });
</script>
<div class="container checkout-container pt-4 pt-xl-5">
  <div class="row pt-5">
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center"></div>
      <form>
        <div>
          <h1 style="font-weight: bold">Checkout</h1>
          <div>
            <input
              class="form-control checkout-form-input"
              type="email"
              placeholder="Entrez votre courriel"
            /><input
              class="form-control checkout-form-input"
              type="tel"
              placeholder="Entrez votre # téléphone"
            />
          </div>
        </div>
        <div class="mt-5">
          <h1>Shipping</h1>
          <div>
            <input
              class="form-control checkout-form-input"
              type="text"
              placeholder="Entrez votre nom"
            /><input
              class="form-control checkout-form-input"
              type="text"
              placeholder="Entrez votre addresse"
            /><input
              class="form-control checkout-form-input"
              type="text"
              placeholder="Entrez votre ville"
            />
            <div class="checkout-form-input-half_container">
              <input
                class="form-control checkout-form-input-half"
                type="text"
                placeholder="Entrez votre ville"
                style="margin-top: 15px"
              /><input
                class="form-control checkout-form-input-half"
                type="text"
                placeholder="Entrez votre province"
                style="margin-top: 15px"
              />
            </div>
            <div class="button" id="button">
              <div id="slide"></div>
              <a href="/accueil">Commandez</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card checkout-card">
        <div class="card-body checkout-card-product">
          <div class="card checkout-card-product-single">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
