<div class="container checkout_container pt-4 pt-xl-5">
  <div class="row pt-5">
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center"></div>
      <form>
        <h1 style="font-weight: bold; text-decoration: underline">Checkout</h1>
        <div>
          <input
            class="form-control dark_input"
            type="email"
            placeholder="Entrez votre courriel"
          /><input
            class="form-control dark_input"
            type="tel"
            placeholder="Entrez votre # téléphone"
          />
        </div>
        <h1>Shipping</h1>
        <div>
          <input
            class="form-control dark_input"
            type="text"
            placeholder="Entrez votre nom"
          /><input
            class="form-control dark_input"
            type="text"
            placeholder="Entrez votre addresse"
          /><input
            class="form-control dark_input"
            type="text"
            placeholder="Entrez votre ville"
          />
          <div class="dark_input_half_container">
            <input
              class="form-control dark_input_half"
              type="text"
              placeholder="Entrez votre ville"
              style="margin-top: 15px"
            /><input
              class="form-control dark_input_half"
              type="text"
              placeholder="Entrez votre province"
              style="margin-top: 15px"
            />
          </div>
          <div class="button" id="button">
            <div id="slide"></div>
            <a href="/accueil">Passer la commande</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card card_checkout">
        <div class="card-body card_product_checkout">
          <div class="card card_product_checkout_single">
            <div
              class="card-body"
              style="border-radius: 25px; background: grey"
            >
              <div style="display: flex">
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                  "
                ></div>
                <img
                  class="product_image"
                  src="https://www.gamespot.com/a/uploads/original/1568/15683559/3204902-1080_ti_key_visual_v1_1488313851.jpg"
                  alt="image produit"
                />
                <div style="padding-left: 40px">
                  <h4>3080 TI</h4>
                  <div class="checkout_card_price_container">
                    <p class="discounted_price" style="margin: 10px 0">350$</p>
                    <p class="original_price" style="margin: 10px 0">450$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card_product_checkout" style>
            <div
              class="card-body"
              style="border-radius: 25px; background: grey"
            >
              <div style="display: flex">
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                  "
                >
                  <img
                    class="product_image"
                    src="https://www.gamespot.com/a/uploads/original/1568/15683559/3204902-1080_ti_key_visual_v1_1488313851.jpg"
                    alt="image produit"
                  />
                </div>
                <div style="padding-left: 40px">
                  <h4 style>3080 TI</h4>
                  <div class="checkout_card_price_container">
                    <p class="discounted_price price">350$</p>
                    <p class="original_price">450$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="price_breakdown_wrapper">
        <div class="price_wrapper">
          <p>Subtotal :</p>
          <p class="discounted_price">1150$</p>
        </div>
        <hr />
        <div class="price_wrapper">
          <p>Taxes :</p>
          <p class="discounted_price">100$</p>
        </div>
        <hr />
        <div class="price_wrapper">
          <p>Total:</p>
          <p class="discounted_price">1250$</p>
        </div>
      </div>
    </div>
  </div>
</div>
