<div class="container checkout-container pt-4 pt-xl-5">
  <div class="row pt-5">
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center"></div>
      <form>
        <div>
          <h1 style="font-weight: bold">Checkout</h1>
          <div>
            <input
              class="form-control dark_input"
              type="email"
              placeholder="Entrez votre courriel"
            /><input
              class="form-control dark_input"
              type="tel"
              placeholder="Entrez votre # téléphone"
            />
          </div>
        </div>
        <div class="mt-5">
          <h1>Shipping</h1>
          <div>
            <input
              class="form-control dark_input"
              type="text"
              placeholder="Entrez votre nom"
            /><input
              class="form-control dark_input"
              type="text"
              placeholder="Entrez votre addresse"
            /><input
              class="form-control dark_input"
              type="text"
              placeholder="Entrez votre ville"
            />
            <div class="dark_input_half_container">
              <input
                class="form-control dark_input_half"
                type="text"
                placeholder="Entrez votre ville"
                style="margin-top: 15px"
              /><input
                class="form-control dark_input_half"
                type="text"
                placeholder="Entrez votre province"
                style="margin-top: 15px"
              />
            </div>
            <div class="button" id="button">
              <div id="slide"></div>
              <a href="/accueil">Commandez</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card checkout-card">
        <div class="card-body checkout-card-product">
          <div class="card checkout-card-product-single">
            <div
              class="card-body"
              style="border-radius: 25px; background: grey"
            >
              <div style="display: flex">
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                  "
                ></div>
                <img
                  class="checkout_checkout-product-image"
                  src="https://www.gamespot.com/a/uploads/original/1568/15683559/3204902-1080_ti_key_visual_v1_1488313851.jpg"
                  alt="image produit"
                />
                <div style="padding-left: 40px">
                  <h4>3080 TI</h4>
                  <div class="checkout-card-price-container">
                    <p class="checkout-discounted-price" style="margin: 10px 0">
                      350$
                    </p>
                    <p class="checkout-original-price" style="margin: 10px 0">
                      450$
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card checkout-card-product" style>
            <div
              class="card-body"
              style="border-radius: 25px; background: grey"
            >
              <div style="display: flex">
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                  "
                >
                  <img
                    class="checkout-product-image"
                    src="https://www.gamespot.com/a/uploads/original/1568/15683559/3204902-1080_ti_key_visual_v1_1488313851.jpg"
                    alt="image produit"
                  />
                </div>
                <div style="padding-left: 40px">
                  <h4 style>3080 TI</h4>
                  <div class="checkout-card-price-container">
                    <p class="checkout-discounted-price price">350$</p>
                    <p class="checkout-original-price">450$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-price-breakdown-wrapper">
        <div class="checkout-price-wrapper">
          <p>Subtotal :</p>
          <p class="checkout-discounted-price">1150$</p>
        </div>
        <hr />
        <div class="checkout-price-wrapper">
          <p>Taxes :</p>
          <p class="checkout-discounted-price">100$</p>
        </div>
        <hr />
        <div class="checkout-price-wrapper">
          <p>Total:</p>
          <p class="checkout-discounted-price">1250$</p>
        </div>
      </div>
    </div>
  </div>
</div>
