<div class="full-height">
  <div class="container pt-4 pt-xl-5 pb-xl-5">
    <div class="row pt-5 pb-5">
      <div class="col" style="text-align: left">
        <div
          class="card"
          style="max-width: 35%; text-align: center; margin: auto"
        >
          <div class="card-body" style="text-align: center">
            <h4 class="card-title" style="text-align: center; margin: 30px">
              Utilisateur
            </h4>
            <h4 class="card-title" style="text-align: center; margin: 30px">
              Role
            </h4>
            <h4 class="card-title" style="text-align: center; margin: 30px">
              Admin
            </h4>
            <h4 class="card-title" style="text-align: center; margin: 30px">
              Login
            </h4>
            <h4 class="card-title" style="text-align: center; margin: 30px">
              Mot de passe
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
