<div class="container pt-4 pt-xl-5 pb-xl-5 info-compte-container">
  <div class="row pt-5 pb-5">
    <div class="col info-compte-column-card">
      <div class="card info-compte-card">
        <div class="card-body info-compte-card-body">
          <h4 class="card-title info-compte-card-title"><%= user.nom %></h4>
          <h4 class="card-title">
            <%= user.role.length > 1 ? 'Role' : 'Role' %> <% if
            (user.role.length > 1) { %> (s) <% } %>
          </h4>
          <h4 class="card-title">
            <% user.role.forEach(function(role) { %>
            <p><%= role %></p>
            <% }); %>
          </h4>
          <h4 class="card-title mt-4"><%= user.login %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
