<div class="container">
  <div class="text-center text-center_position">
    <div class="d-flex justify-content-center align-items-center">
      <%- include ('./partiels/erreurs_msg') %>
    </div>
  </div>
  
  <main class="menu-main main-container">
    <div class="card" style="width: 28rem">
      <div class="card-body text-center">
        <div class="user-wrapper"><%= user.nom %> (<%= user.login %>)</div>
        <h4 class="card-title">Gestion des articles</h4>
        <a href="/articles/ajouter" class="btn btn-primary col-12">Enregistrer un nouvel article</a>
        <a href="/articles/menu" class="btn btn-primary col-12">Afficher tous les articles</a>
        <a href="/boutique" class="btn btn-secondary col-12">Retour au menu</a>
      </div>
    </div>
  </main>
</div>
</div>
