<main class="menu-main">
  <div class="card" style="width: 28rem">
    <div class="card-body text-center">
      <h1 class="card-title">Menu Usagers - PFI</h1>
      <a href="/usagers" class="btn btn-primary col-12">Gestion des usagers</a>
      <a href="/livres" class="btn btn-primary col-12">Gestion des livres</a>
      <a href="/deconnexion" class="btn btn-secondary col-12">Se déconnecter</a>
    </div>
  </div>
</main>
