<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../css/main.css" />
    <title>       Login </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/accueil">Accueil</a>
        <a class="navbar-brand fw-bold" href="/boutique">Boutique</a>
        <button class="btn btn-icon" type="submit">
          <i class="fa-solid fa-circle-user fa-2xl userAccountIcon"></i>
        </button>
      </div>
    </nav>
    <div
      class="text-center"
      style="display: flex; align-items: center; height: 100vh"
    >
      <main class="form-signin">
        <div class="erreurs"></div>

             
        <h1>Connectez vous</h1>
        <form action="/usagers/login" method="POST" class="form-group">
          <input type="text" name="login" id="login" placeholder="Courriel" />
          <input
            type="password"
            name="password"
            id="pwd"
            placeholder="Mot de passe"
          />
          <input type="submit" value="Confirmer" class="login-button" />
        </form>
      </main>
    </div>

         
    <!-- Icône flottante pour le chatbot -->
    <div class="floating-chatbot-icon" onclick="toggleChatbot()">
      <i class="fas fa-comments"></i>
    </div>

         
    <!-- Chatbot -->
    <div class="chatbot-container card" id="chatbot-container">
      <div class="card-header chatbot-header">
        <h5 class="mb-0">Chatbot</h5>
        <button class="btn-close" onclick="toggleChatbot()"></button>
      </div>
      <div class="chatbot-messages card-body p-2" id="chatbot-messages"></div>
      <div class="card-footer chatbot-input-container p-2">
        <div class="input-group">
          <input
            type="text"
            id="chatbot-input"
            class="form-control"
            placeholder="Tapez votre message..."
          />
          <button class="btn btn-primary" onclick="sendMessage()">
                        Envoyer
          </button>
        </div>
      </div>
    </div>

         
    <script src="../public/script.js"></script>
  </body>
</html>
