
<div class="erreurs">
  <% if (locals.errors) { %>
    <% errors.forEach(function(err) { %>
      <div class="erreur">
        <i class="fa fa-exclamation-triangle"></i>
        <p><%= err.msg %></p>
      </div>
    <% }); %>
  <% } %>
  
  <% if (success_msg != '') { %>
    <div class="succes">
      <i class="fa fa-check-circle"></i>
      <p><%= success_msg %></p>
    </div>
  <% } %>
  
  <% if (error_msg != '') { %>
    <div class="erreur">
      <i class="fa fa-exclamation-triangle"></i>
      <p><%= error_msg %></p>
    </div>
  <% } %>
  
  <% if (error != '') { %>
    <div class="erreur">
      <i class="fa fa-exclamation-triangle"></i>
      <p><%= error %></p>
    </div>
  <% } %>
</div>
